.singleProductCard {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 800px;
  height: 500px;
  margin-bottom: 30px;
}
.photo {
  width: 500px;
}
.description {
  text-align: center;

  color: rgba(102, 101, 100, 0.808);
}
@media screen and (max-width: 736px) {
  * {
    margin: 0;
    padding: 0;
  }

  .singleProductCard {
    width: 350px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .description {
    text-align: center;

    color: rgba(102, 101, 100, 0.808);
  }
}
